body {
    font-family: Arial, sans-serif;
    background: url('images/images.jpg') no-repeat center center fixed;
    background-size: cover;
      
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

button {
    margin-top: 10px;
}

#result {
    margin-top: 20px;
}


p{
    font-weight: bolder;
    font-size: x-large;
    
}